footer {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    background-color: $primary-light;

    #logo {
        display: flex;
        transform: scale(.8);
    }
    
    #stamp {
        height: 4rem;
        width: 4rem;
        background-color: $primary-text-dark;
        border-radius: 50%;
        margin-right: 0.5rem;
        position: relative;
        top: 0.4rem;
    }
    #spectral {
        text-transform: uppercase;
        letter-spacing: 0.29rem;
        font-weight: 500;
    }

    .footer-lists {
        // display: flex;
        // justify-content: space-between;
        font-size: $font-md;
        // line-height: 1.5rem;
        font-weight: lighter;
        text-align: center;
        
        li {
            margin: .5rem auto;
        }
    }
    
    .footer-nav-list {
        margin-bottom: 3rem;
    }

}

.footer-contact, .branding {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    font-weight: lighter;
    padding: 2rem;
}

.footer-contact a {
    line-height: 1.5;
}


@media (min-width: 768px) {
    .footer-lists {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
}
