.how-it-works {
  margin-bottom: 8rem;
}

h2 {
  text-align: center;
}

h4 {
  margin-bottom: 0.4rem;
}

.gearbox {
  opacity: 0.7;
  text-align: center;
  position: relative;
  top: 50px;
  transform: translate(-2%, 0);
  transform: rotate(20deg);
  margin: 0 auto 7rem;
  max-width: 50%;
}

.gear {
  width: 35%;
}
.dark-gear {
  position: relative;
  top: 12px;
  right: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .colored-gear {
    animation: gear-spin-clock infinite 10s linear;
  }
}

@keyframes gear-spin-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .dark-gear {
    animation: gear-spin-counter infinite 10s linear;
  }
}

@keyframes gear-spin-counter {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.work-phase-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.work-phase {
  margin: 5rem auto;
}

.text-after-gears {
  width: 95%;
  text-align: center;
  margin: 2rem auto 7rem;

  .no-money-down {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }

  .standard-5-page-site {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: lighter;
    margin: 0 auto;
  }
}

.how-it-works-text {
  line-height: 1.5;
  font-weight: lighter;
  text-align: center;
  width: 90%;
  margin: 0 auto 2rem;
  font-size: 1.5rem;

  p {
    font-size: 1.2rem;
  }
}

.how-it-works-art {
  margin: 0 auto;
  width: 80%;
  padding: 0 2rem;
}

@media (min-width: 500px) {
  .gear {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .standard-5-page-site {
    width: 80%;
  }
  .gear {
    width: 14%;
  }

  .how-it-works-art {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .standard-5-page-site {
    width: 65%;
  }

  .how-it-works-art {
    width: 50%;
  }

  .how-it-works {
    margin-bottom: 12rem;
  }

  .gear {
    width: 12%;
  }
}

@media (min-width: 1200px) {
  .work-phase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 10rem;
  }

  .how-it-works-text {
    width: 50%;
  }

  .how-it-works {
    margin-bottom: 15rem;
  }

  .gear {
    width: 10%;
  }
}

@media (min-width: 1400px) {
  .work-phase {
    width: 80%;
  }

  .gear {
    width: 60px;
  }
}
